.experience-command {
  margin: 15px 0;
  padding-left: 10px;
  border-left: 2px solid var(--primary);
}

.experience-title {
  color: var(--primary);
  margin-bottom: 15px;
}

.experience-item {
  margin: 15px 0;
}

.job-title {
  color: var(--secondary);
  margin: 5px 0;
}

.job-duration {
  color: #aaa;
  margin: 5px 0 10px 0;
  font-style: italic;
}

.job-description {
  margin: 10px 0;
  padding-left: 20px;
}

.job-description li {
  margin: 5px 0;
  line-height: 1.5;
}