.education-command {
  margin: 15px 0;
  padding-left: 10px;
  border-left: 2px solid var(--primary);
}

.education-title {
  color: var(--primary);
  margin-bottom: 15px;
}

.education-item {
  margin: 15px 0;
}

.institution {
  color: var(--secondary);
  margin: 5px 0;
}

.degree {
  margin: 5px 0;
  font-weight: bold;
}

.duration {
  color: #aaa;
  margin: 5px 0;
  font-style: italic;
}